{% extends "layout.html.twig" %}
{% set loginMenu = true %}

{% block title %}
    Connexion
{% endblock %}

{% block content %}
    <div id="pageOpening">
        <h2>{{ block('title') }}</h2>
        <hr />

        {% if error %}
            <div class="alert alert-danger">
                <strong>Erreur lors de la tentative de connexion :</strong> pseudo et/ou email incorrect(s).
            </div>
        {% endif %}

        <div class="well">
            <form class="form-signin form-horizontal" role="form" action="{{ path('login_check') }}" method="post">
                <div class="form-group">
                    <label for="user_username" class="col-sm-5 control-label required">Pseudo ou Adresse email :</label>
                    <div class="col-sm-4">
                        <input type="text" name="_username" id="user_username" value="{{ last_username }}" class="form-control" placeholder="Entrez votre pseudo ou adresse email" required autofocus />
                    </div>
                </div>
                <div class="form-group">
                    <label for="user_password" class="col-sm-5 control-label required">Mot de passe :</label>
                    <div class="col-sm-4">
                        <input type="password" id="user_password" name="_password" class="form-control" placeholder="Entrez votre mot de passe" required />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-5 col-sm-3">
                        <input type="checkbox" id="remember_me" name="_remember_me" />
                        <label for="remember_me">Se rappeler de moi</label>

                        <button type="submit" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-log-in"></span> Connexion</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
