.jumbotron {
    background-image: url("../images/snow-background.jpg");
    border: 1px solid #CEDADE;
}

.jumbotron .row {
    margin-top: 40px;
}

.jumbotron p {
    text-align: center;
}

.jumbotron h1 {
    font-style: italic;
}
.jumbotron h3 {
    text-align: right;
    margin-top: 0;
}

#last-chapters {
    margin-top: 50px;
}
