body {
    padding-top: 50px;
}

#menuWelcome {
    padding-right: 10px;
}
#menuDropDown {
    padding-left: 5px;
    padding-right: 5px;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}
