@font-face{
	font-family: 'Work Sans';
	src: url('../fonts/WorkSans-Regular.eot');
	src: url('../fonts/WorkSans-Regular.eot?iefix') format('eot'),
	     url('../fonts/WorkSans-Regular.woff') format('woff'),
     	 url('../fonts/WorkSans-Regular.woff2') format('woff2'),
	     url('../fonts/WorkSans-Regular.ttf') format('truetype'),
	     url('../fonts/WorkSans-Regular.svg#webfont') format('svg');
}



body {
    padding-top: 50px;
    font-family: 'Work Sans', Arial, sans-serif;
}
h2, h3 {
	color: #386473;
}
a {
	color: inherit;
}

#pageOpening {
	padding: 30px 50px 0;
}



.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}

.footer {
    border-top: 1px solid #386473;
    padding: 20px;
    text-align: center;
    background-color: #f8f8f8;
}




@media (max-width: 767px) {
    #pageOpening {
    	padding: 30px 20px 0;
    }
}
