@font-face{
	font-family: 'Work Sans';
	src: url('../fonts/WorkSans-Regular.eot');
	src: url('../fonts/WorkSans-Regular.eot?iefix') format('eot'),
	     url('../fonts/WorkSans-Regular.woff') format('woff'),
     	 url('../fonts/WorkSans-Regular.woff2') format('woff2'),
	     url('../fonts/WorkSans-Regular.ttf') format('truetype'),
	     url('../fonts/WorkSans-Regular.svg#webfont') format('svg');
}



body {
    padding-top: 50px;
    font-family: 'Work Sans', Arial, sans-serif;
}

.jumbotron p {
    text-align: center;
}
.jumbotron h3 {
    text-align: right;
}



.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}

.footer {
    border-top: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}
